<h3>Add a new dose here</h3>
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.association :ingredient %>
    <%= f.input :description %>
    <button><%= f.button :submit %></button>
  <% end %>
